body {
	margin: 0;
	height: 100%;
}
.wrapper {
	width: 100vw;
	height: 100vh;
  	display: grid; 
	grid-template-columns: 0.25fr 0.5fr 0.25fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    min-width: 0;
}
#topBar {
	grid-area: 1 / 1 / 2 / 4;
	height: 3px;
}
.main {
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 0;
}
.center {
	align-self: center;
	text-align: center;
}
#message {
	font-size: 18px;
	text-align: center;
}
textarea, .button {
	padding: 7px;
 	border-radius: 5px;
	border: none;
    outline: none;
}
textarea {
	resize: vertical;
 	margin-bottom: 12px;
	margin-top: 12px;
 	font-size: 1.3em;
}
textarea:focus, .button:hover {
	box-shadow: 0 1px 3px var(--base1), 0 1px 2px var(--base2);
	transition-duration: 0.3s;
}
p, h1 {
	font-family: 'Amiri', serif;
}
h1 {
	color: var(--base01);
	font-size: 3em;
	margin: 0;
	padding: 0;
	border: 0;
}
.arabic-text {
	font-size: 2.5em;
	color: var(--base00);
}
.options {
	grid-area: 3 / 1 / 4 / 2;
	justify-content: end;
}

/* modal stuff*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 28%;
    height: 50%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}
.themeOptions, .fontSizeOptions, .fontFamilyOptions {
	display: flex;
	flex-direction: row;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.themeOptions {
	justify-content: space-between;
}
.fontSizeOptions {
	justify-content: space-between;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}