/* solarized theme colors */
:root {
	--base03:    #002b36;
	--base02:    #073642;
	--base01:    #586e75;
	--base00:    #657b83;
	--base0:     #839496;
	--base1:     #93a1a1;
	--base2:     #eee8d5;
	--base3:     #fdf6e3;
	--yellow:    #b58900;
	--orange:    #cb4b16;
	--red:       #dc322f;
	--magenta:   #d33682;
	--violet:    #6c71c4;
	--blue:      #268bd2;
	--cyan:      #2aa198;
	--green:     #859900;
}
body {
	margin: 0;
	background-color: var(--base3); 
	height: 100%;
}
.wrapper {
	width: 100vw;
	height: 100vh;
  	display: grid; 
	grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    min-width: 0;
}
.topBar {
	grid-area: 1 / 1 / 2 / 4;
	background-color: var(--yellow);
	height: 5px;
}
.main {
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 0;
}
textarea, #button {
	padding: 7px;
 	border-radius: 5px;
 	box-shadow: 0 4px 8px 0 var(--base1);
	background: var(--base2); 
	border: none;
    outline: none;
 	color: var(--base00);
}
textarea {
	resize: vertical;
 	margin-bottom: 15px;
 	font-size: 1.3em;
}
#button {
}
p, h1 {
	font-family: 'Amiri';
}
h1 {
	color: var(--base01);
	font-size: 3em;
	margin: 0;
}
p {
	font-size: 2.2em;
}