/* solarized theme colors */
:root {
	--base03:    #002b36;
	--base02:    #073642;
	--base01:    #586e75;
	--base00:    #657b83;
	--base0:     #839496;
	--base1:     #93a1a1;
	--base2:     #eee8d5;
	--base3:     #fdf6e3;
	--yellow:    #b58900;
	--orange:    #cb4b16;
	--red:       #dc322f;
	--magenta:   #d33682;
	--violet:    #6c71c4;
	--blue:      #268bd2;
	--cyan:      #2aa198;
	--green:     #859900;
}
body {
	margin: 0;
	background-color: var(--base3); 
	height: 100%;
}
.wrapper {
	width: 100vw;
	height: 100vh;
  	display: grid; 
	grid-template-columns: 0.1fr 0.8fr 0.1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    min-width: 0;
}
#topBar {
	grid-area: 1 / 1 / 2 / 4;
	height: 3px;
}
.main {
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 0;
}
textarea, .button {
	padding: 7px;
 	border-radius: 5px;
	background: var(--base2); 
	border: none;
    outline: none;
 	color: var(--base00);
}
textarea {
	resize: vertical;
 	margin-bottom: 12px;
	margin-top: 12px;
 	font-size: 1.3em;
}
textarea:focus, .button:hover {
	box-shadow: 0 1px 3px var(--base1), 0 1px 2px var(--base2);
	transition-duration: 0.3s;
}
p, h1 {
	font-family: 'Amiri', serif;
}
h1 {
	color: var(--base01);
	font-size: 3em;
	margin: 0;
	padding: 0;
	border: 0;
}
p {
	font-size: 2.5em;
	color: var(--base00);
	text-align: right;
}
.options {
	grid-area: 3 / 1 / 4 / 2;
}

/* modal stuff*/
body {font-family: Arial, Helvetica, sans-serif;}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: var(--base2);
    height: 63%;
    width: 33%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
	box-shadow: 0 10px 20px var(--base1), 0 6px 6px var(--base1);
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--base00);
    color: var(--base3);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--base00);
    color: var(--base3);
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}